@model dynamic

@{
    ViewBag.Title = "Bar Chart";
}

@section AdditionalScripts
{
    <script src="~/Scripts/jquery.flot.js"></script>
    
    <script type="text/javascript">
        $(function() {
            $.get('@Url.Action("OrdersByMonth", "OrderHistory")', function (data) {
                console.log(data);
                $.plot($("#placeholder"), [{ label: "Order Count", data: data }],
                    {
                        xaxis: {
                            ticks: [[1, "January"], [2, "February"], [3, "March"], [4, "April"], [5, "May"], [6, "June"], [7, "July"], [8, "August"],
                                [9, "September"], [10, "October"], [11, "November"], [12, "December"]]
                        },
                        bars: { show: true }
                    }
                );
            });
        });
    </script>
}

<h2>Bar Chart</h2>

<div class="well">
    <p class="lead">Bar chart showing order count by month</p>
    <div id="placeholder" style="width:1000px;height:300px"></div>
</div>