@model dynamic

@{
    ViewBag.Title = "Stacked Series Chart";
}

@section AdditionalScripts
{
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot/jquery.flot.stack.js"></script>

    <script type="text/javascript">
        $(function() {
            var datasets = {};

            $.get('@Url.Action("OrdersByMonthAndStatus", "OrderHistory")', function(result) {
                console.log(result);

                var statusContainer = $("#statuses");
                $.each(result, function(key, val) {
                    datasets[val.label] = { label: val.label, data: val.data };
                    statusContainer.append('<li><label for="id' + val.label + '"><input type="checkbox" name="'
                        + val.label + '" checked="checked" id="id' + val.label + '"> '
                        + val.label + '</label></li>');
                });

                statusContainer.find("input").click(plotAccordingToChoices);
                plotAccordingToChoices();
            });

            function plotAccordingToChoices() {
                var data = [];

                $("#statuses").find("input:checked").each(function() {
                    var key = $(this).attr("name");
                    if (key && datasets[key])
                        data.push(datasets[key]);
                });

                $.plot($("#placeholder"), data,
                    {
                        xaxis: {
                            ticks: [[1, "January"], [2, "February"], [3, "March"], [4, "April"], [5, "May"], [6, "June"], [7, "July"], [8, "August"],
                                [9, "September"], [10, "October"], [11, "November"], [12, "December"]]
                        },
                        series: {
                            stack: true,
                            bars: { show: true }
                        }
                    }
                );
            }
        });
    </script>
}

<h2>Series Chart</h2>

<div class="well">
    <p>Show orders with status:</p>
    <ul id="statuses" class="unstyled">
    </ul>
</div>
<div class="well">
    <p class="lead">Stacked bar chart showing order count by month and by status</p>
    <div id="placeholder" style="width:1000px;height:300px"></div>
</div>